a {
  background-color: black;
  color: white;
}

a:visited {
  background-color: orange;
  color: green;
}

a:active, .some-button:active {
  border: 3px solid red;
}

a:hover {
  font-size: 24px;
}

.some-button:hover:enabled {
  color: white;
  background-color: grey;
}

.some-button:disabled {
  border: 2px dashed grey;
}

.search:focus {
  background-color: orange;
}

.confirm-checkbox:checked {
  margin-left: 20px;
} 
