* {
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  width: 50%;
}

.small-bird {
  width: 64px;
  height: 64px;
}

.large-bird {
  width: 320px;
  height: 320px;
}
