* {
  box-sizing: border-box;
}

.text {
  display: inline-block;
  margin: 16px;
  border-bottom: 1px dashed black;
}

.tooltip {
  display: none;
  position: absolute;
  left: 16px;
  top: 40px;
  padding: 8px;
  background-color: gray;
  color: white;
  border-radius: 4px;
}

.text:hover .tooltip {
  display: inline-block;
}
