* {
  box-sizing: border-box;
}

main {
  overflow-x: scroll;
}

table {
  width: 500px;
  margin: 16px;
}

table, td, th {
  border: 1px solid #000;
  border-collapse: collapse;
}

th, td {
  padding: 4px;
  text-align: right;
}

tr {
  height: 40px;
}

table tbody tr:hover {
  background-color: #aaa;
  color: #fff;
}

tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

thead {
  background-color: aqua;
}

tfoot {
  font-weight: 700;
}

caption {
  margin-bottom: 8px;
}
